body {
    background-color: bisque;
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    text-align: center;
    font-size: 70px;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipeslist {
    background-color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.pics {
    align-self: center;
}

.list {
   
}